<div class="bg-page">
    <div class="container">
        <div class="d-flex left">
            <a href="#"><img src="/facebook.svg" style="width:30px;" class="circle margin hover-opacity"></a>
            <a href="#"><img src="/instagram.svg" style="width:30px;" class="circle margin hover-opacity"></a>
            <a href="#"><img src="/x.svg" style="width:30px;" class="circle margin hover-opacity"></a>
            <a href="#"><img src="/discord.svg" style="width:30px;" class="circle margin hover-opacity"></a>
        </div>
    </div>
    <div class="container">
        <mat-divider></mat-divider>
    </div>
    <div class="panel container">
        <div class="col s12 m12 l3">
            <div class="d-flex margin-bottom">
                <a href="#home" class="\button"><img src="/img/chicks.svg"></a>
            </div>
            <div class="d-flex margin-top">
                <span>{{'support@chicksgold.com'}}</span>
            </div>
        </div>
        <div class="col s12 m12 l9">
            <div class="col s12 m6 l3">
                <div class="d-flex margin-top margin-bottom align-center">
                    <span>Chicks Gold</span>
                </div>
                <div class="d-flex margin-top align-center">
                    <span class="text-footer">Games</span>
                </div>
                <div class="d-flex margin-top align-center">
                    <span class="text-footer">About Us</span>
                </div>
                <div class="d-flex margin-top align-center">
                    <span class="text-footer">Blog</span>
                </div>
                <div class="d-flex margin-top align-center">
                    <span class="text-footer">Sitemap</span>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="d-flex margin-top margin-bottom align-center">
                    <span>Support</span>
                </div>
                <div class="d-flex margin-top align-center d-flex">
                    <span class="text-footer">Contact Us</span>
                </div>
                <div class="d-flex margin-top align-center">
                    <span class="text-footer">FAQ</span>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="d-flex margin-top margin-bottom align-center">
                    <span>Legal</span>
                </div>
                <div class="d-flex margin-top align-center">
                    <span class="text-footer">Privacy Policy</span>
                </div>
                <div class="d-flex margin-top align-center">
                    <span class="text-footer">Terms of Service</span>
                </div>
                <div class="d-flex margin-top align-center">
                    <span class="text-footer">Copyright Policy</span>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="d-flex margin-top margin-bottom align-center">
                    <span><mat-icon>star</mat-icon></span>
                    <span><mat-icon>star</mat-icon></span>
                    <span><mat-icon>star</mat-icon></span>
                    <span><mat-icon>star</mat-icon></span>
                    <span><mat-icon>star</mat-icon></span>
                    <span class="text-footer">Trustpilot Reviews</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center padding-large">
        © 2017 - 2020 Chicksgold.com. All Rights Reserved
    </div>
</div>