<div class="bg-banner height-header">
    <div class="container">
        <div class="col s12 m10 l6 d-flex" style="justify-content: space-between;">
            <img src="/img/visa.svg" alt="Logo de Visa" class="payment-method-md padding-small">
            <img src="/img/mastercard.svg" alt="Logo de MasterCard" class="payment-method-sm padding-small">
            <img src="/img/american_express.svg" alt="Logo de American Express" class="payment-method-sm padding-small">
            <img src="/img/skrill.svg" alt="Logo de Skrill" class="payment-method-md padding-small">
            <img src="/bitcoin.svg" alt="Logo de Bitcoin" class="payment-method-xs">
            <img src="/ethereum.svg" alt="Logo de Ethereum" class="payment-method-xxs">
            <img src="/bitcoin-cash.svg" alt="Logo de Bitcoin ash" class="payment-method-xs">
            <img src="/litecoin.svg" alt="Logo de Litecoin" class="payment-method-xs">
            <div class="d-flex" style="align-items: center;">
                <span>and 50+ more</span>
            </div>
        </div>
    </div>
</div>